.item {
    display: flex;
    align-items: center;
    min-height: 27px;

    justify-content: space-between;
    gap: 1rem;
}
.item:hover .buttons {
    visibility: visible;
    opacity: 1;
    transition:
        visibility 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.buttons {
    visibility: hidden;
    opacity: 0;
    gap: 1rem;

    display: flex;
}

.label {
    margin-left: 15px;
    flex: 1;
}
