.header {
    display: flex;
}

.button {
    all: unset;

    width: 25px;
    height: 25px;

    background-color: var(--grass-9);
    border: 1px solid;
    border-color: var(--olive-9);
    border-radius: 50%;

    color: #fff;
}