.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 600px;
    min-height: 50vh;
    margin: 0 30px;
    padding: 40px;

    background-color: var(--slate-3);
    border: 1px solid;
    border-color: var(--olive-6);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
